.people-list {
  padding: 1em 0 0 1em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: start;
  column-gap: 1em;

  .person {
    padding: 0.4em 0.5em;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;

    &:hover {
      background-color: #8883;
    }
  }
}
