ul.tree-view {
  line-height: 2em;

  li {
    list-style-type: ' • ';

    &.hidden {
      display: none;
    }

    &.visible-for-children > .name {
      opacity: 0.5;
    }

    &.folder {
      list-style-type: ' – ';

      & > .name {
        cursor: pointer;
      }

      &:hover > span {
        text-decoration: underline;
      }

      &.collapsed {
        list-style-type: ' + ';

        & > ul {
          display: none;
        }
      }
    }
  }
}
