ul.tree-view {
  line-height: 2em;

  li {
    list-style-type: ' • ';

    &.hidden {
      display: none;
    }

    &.visible-for-children > .name > span {
      font-style: italic;
      opacity: 0.5;
    }

    &.folder {
      list-style-type: ' – 📂 ';

      & > .name > span {
        cursor: pointer;
      }

      &:hover > .name {
        text-decoration: underline;
      }

      &.collapsed {
        list-style-type: ' + 📂 ';

        & > ul {
          display: none;
        }
      }
    }

    .name {
      padding: 0.5em 1em 0.5em 0;
    }

    .name > a {
      margin-left: 1em;
    }

    .name:not(:hover) > a {
      visibility: hidden;
    }
  }
}
