.people-list {
  padding-left: 1em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: start;
  column-gap: 1em;
  cursor: pointer;

  .person {
    padding: 0 0 0 0.5em;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    border-radius: 0.3em;
    border: solid thin transparent;

    .anyone {
      font-style: italic;
    }

    &:hover {
      background-color: #0af3;
    }

    &.selected {
      background-color: #fa03;
      border-color: #8888;
    }

    .role {
      padding: 0.4em 0.5em;
      display: flex;
      justify-content: space-between;
      gap: 0.5em;
      border-radius: 0.3em;
      border: solid thin transparent;

      &:hover {
        background-color: #0af3;
      }

      &.selected {
        background-color: #fa03;
        border-color: #8888;
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }
}

#files h2 {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 1em 0;
}
