ul.tree-view {
  line-height: 2em;

  li {
    list-style-type: ' • ';
    white-space: nowrap;

    &.hidden {
      display: none;
    }

    &.visible-for-children > .name > span {
      font-style: italic;
      opacity: 0.5;
    }

    &.folder {
      list-style-type: ' – 📂 ';

      & .name-span {
        cursor: pointer;
        /* make the name extend leftward so it can be clicked
           this is in lieu of making the bullet symbol clickable, which would be harder */
        margin-left: -10em;
        padding-left: 10em;
      }

      &:hover > .name {
        text-decoration: underline;
      }

      &.collapsed {
        list-style-type: ' + 📂 ';

        & > ul {
          display: none;
        }
      }
    }

    .name {
      padding: 0.5em 1em 0.5em 0;
    }

    .name > a,
    .name > .delete {
      margin-left: 1em;
    }

    .name:not(:hover) > a,
    .name:not(:hover)::after,
    .name:not(:hover) > .delete {
      visibility: hidden;
    }

    body:not(.authorized) & > .name > .delete {
      opacity: 0.5;
      pointer-events: none;
    }

    &.deleted > .name > .delete,
    &:not(.deletable) > .name > .delete {
      display: none;
    }

    &.deleted > .name::after {
      margin-left: 1em;
      content: '(revoked)';
    }

    &.deleted > .name > span {
      text-decoration: line-through;
    }
  }
}
